<%= form_with(model: nested_book) do |form| %>
  <% if nested_book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nested_book.errors.count, "error") %> prohibited this nested_book from being saved:</h2>

      <ul>
        <% nested_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
