<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="nested_books">
  <% @nested_books.each do |nested_book| %>
    <%= render nested_book %>
    <p>
      <%= link_to "Show this book", nested_book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_nested_book_path %>
