<p style="color: green"><%= notice %></p>

<%= render @nested_book %>

<div>
  <%= link_to "Edit this book", edit_nested_book_path(@nested_book) %> |
  <%= link_to "Back to books", nested_books_path %>

  <%= button_to "Destroy this book", @nested_book, method: :delete %>
</div>
